
.movie-container {
    overflow-y:scroll;
    padding: 5rem;
    height: 1000px;
}


.movie-card {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 800px;
}

.movie-card img {
    width: 200px;
    height: 200px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-size: 1rem;
    font-weight: bold;
}

.hide {
    display: none;
}
